@charset "UTF-8";

==================================
front-page
==================================


#contents-pickup {
}

#contents-pickup h1 {
	width: 650px;
	height: 40px;
	font-size: 24px;
	font-weight: bold;
	padding: 0;
	margin-bottom: 30px;
	color: black;
	background-color: none;
	box-shadow: 0 5px rgba(0,0,0,0.6);
}

#contents-pickup h2 {
}

#contents-pickup-tuduki {{{
	display: block;
	width: 100px;
	height: 25px;
	background-color: #19c46f;
	margin: auto;
	margin-top: 40px;
}

#contents-pickup-tuduki p {{{
	display: block;
	font-size: 18px;
	max-width: 200px;
	font-family: meiryo;
	color: #ffffff;
	margin: auto;
}


#frontpage-contents-margin {
	clear: both;
	width: 100%;
	height: 100px;
}



#contents-latest {
	clear: both;
}

#contents-latest h1 {
	width: 650px;
	height: 40px;
	font-size: 24px;
	font-weight: bold;
	padding: 0;
	margin-bottom: 30px;
	color: black;
	background-color: none;
	box-shadow: 0 5px rgba(0,0,0,0.6);
}

#contents-latest h2 {
}

#contents-latest-tuduki {
	display: block;
	width: 200px;
	height: 25px;
	background-color: #f9b929;
	margin: auto;
	margin-top: 50px;
}

#contents-latest-tuduki p {
	display: block;
	font-size: 18px;
	max-width: 200px;
	font-family: meiryo;
	color: #ffffff;
	margin: auto;
}